* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body {
  height: 100vh;
  background: #191a21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #282a36;
  width: 100%;
  height: 700px;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
}

.container span {
  margin-top: -5rem;
  color: #FFF;
  font-size: 3rem;
  font-weight: 500;
  width: 90%;
  text-align: center;
}

.container .input-field {
  position: relative;
  width: 90%;
}

.container input {
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
  background: #191a21;
  border-radius: 8px;
  color: #fff;
  border: 0;
  padding: 1rem;
  font-size: medium;
}

.container input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px #1ed760;
}

.container input + input {
  margin-top: 1rem;
}

.input-field label {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 1.3rem;
  left: 1rem;
  transition: bottom 0.5s;
  pointer-events: none;
}

.input-field input:focus + label, input:not(:placeholder-shown) + label {
  bottom: 4.2rem;
}

.container button {
  width: 90%;
  margin-top: 2rem;
  height: 4rem;
  border-radius: 8px;
  background: #1ed760;
  color: #fff;
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
  font-weight: 500;

  transition: background-color 0.2s;
}

.container button:hover {
  background: #17a147;
}


.container .forgot-field {
  margin: 2rem 0;
  width: 90%;
  text-align: center;
}

.container .forgot-field a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 0.2s;
}

.container .forgot-field a:hover {
  color: rgba(255, 255, 255, 0.8);
}


.container .recovery-field {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 90%;
  text-align: center;
  padding-top: 2rem;
}

.container .recovery-field p {
  color: rgba(255, 255, 255, 0.6);
}
  

.container .recovery-field a {
  color: #1ed760;
  text-decoration: none;
  margin-left: 0.3rem;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.container .recovery-field a:hover {
  color: #17a147;
}


@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  } 
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%; 
  }


.container   {
    margin: 0 1rem;
    max-width: 600px;
    padding: 0.5rem;
    height: 600px;
  }
}